.input1{
    position: absolute;
    top: 10px;
    margin-left: 951px; 
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.input1>input{
    
    box-sizing: border-box;
    width: 250px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* text-decoration: line-through; */
    padding-left: 10px;

}
.input1>input{
    outline: none;
    border: 0;
}
.input1:hover{
    
    border: 1px solid #297eb3;
}
.input1>input:focus{
    box-shadow: 0px -1px 1px 1px #99c9ec,-1px 0px 1px 1px #99c9ec,0px 1px 1px 1px #99c9ec,1px 0px 1px 1px #99c9ec;
}
.ipon{
    position: absolute;
    top: 0px;
    right: 0;
    border-radius: 0px 4px 4px 0 ;
    width: 46px;
    height: 32px;
    background: #2289cb;
}
.ipon:hover{
    opacity: 0.9;
}
.ipon>img{
    margin-left: 10px;
    width: 28px;
    height: 28px;

}
